.title, .amount, .name, .amountError, .expList, .username, .password {
	text-align: center;
	color: #ffffff;	
}
.mainView {
	background-color: #455A64;
}
.nameInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.userNameInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.amountInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.passwordInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
::placeholder {
	color: #FFFFFF;
}
.formComponents {
	text-align: center;
}
.dockedBottomButton {
	background-color: #455A64;
	width:100%;
    position:fixed;
    bottom:0px;
	text-align: center;
}
.Button {
	height: 50px;
	width: 50px;
	background-color: #1C313A;
	color: #FFFFFF;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 25px;
}
.LoginFormButton {
	height: 35px;
	width: 200px;
	background-color: #1C313A;
	color: #FFFFFF;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.LogOutButton {
	height: 35px;
	width: 100px;
	background-color: #1C313A;
	color: #FFFFFF;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 25px;
	right: 50px;
}
.exportButton {
	height: 35px;
	width: 200px;
	background-color: #1C313A;
	color: #FFFFFF;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
#expListTable {
	color: #ffffff;	
	text-align: center;	
}
table th, table td{
	padding: 5px;
	border: 1px solid #FFFFFF;
}