.title, .amount, .name, .amountError, .expList {
	text-align: center;
	color: #ffffff;	
}
.mainView {
	background-color: #455A64;
}
.nameInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
.amountInput {
	height: 25px;
	width: 200px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
}
::placeholder {
	color: #FFFFFF;
}
.formComponents {
	text-align: center;
}
.dockedBottomButton {
	background-color: #455A64;
	width:100%;
    position:fixed;
    bottom:0px;
	text-align: center;
}
.Button {
	height: 50px;
	width: 50px;
	background-color: #1C313A;
	color: #FFFFFF;
	border-radius: 25px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	font-size: 25px;
}