<!DOCTYPE html>
<html lang = "en-US">
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src = "login.js"></script>
<link rel = "stylesheet" type = "text/css" href = "expMain.css" />

<body class="mainView">
<div data-ng-app="loginApp" data-ng-controller="loginController">
  <h1 class="title">Expense Tracker</h1>
  <br><br><br>
  <form name="loginForm">
	  <h2 class="username">Username</h2>
	  <br><br><br>
	  
	  <div class="formComponents">
	  	<input type="text" name="username" class="userNameInput" placeholder="Enter the Username" required data-ng-model="username">
	  </div>
	  <br>
	  <br><br><br>
	  
	  <h2 class="password">Password</h2>
	  <br><br><br>
	  
	  <div class="formComponents">
	  	<input type="password" name="password" class="passwordInput" placeholder="Enter the Password" required data-ng-model="password">
	  </div>
	  <br><br><br>
	  <div class="formComponents">
	  	<input type="button" value="Login" class="LoginFormButton" data-ng-click="onLogin()"/>
	  	<br>
	  	<br><br>
	  	<input type="button" value="Register" class="LoginFormButton" data-ng-click="onRegister()"/>
	  </div>
	  
  </form>
</div>

</body>
</html>