<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
	var app = angular.module('expApp', []);
	app.controller('expController', function($scope, $http) {
		
		$scope.addExpense = function() {
			if($scope.expForm.$valid) { 
				var obj = {
					"name" : $scope.name,
					"amount" : $scope.amount
				};
				var expData = JSON.stringify(obj);
				$http.post('http://localhost:8080/ExpTracker/addExp/',expData)
				.then(function() {
					alert(obj.name+"\n"+obj.amount+"\n stored");
				}, function(response) {
					alert("Error while storing data in server!!!");
				});
			}
			else {
				alert("fill all fields");
			}
		};	
	
		$scope.retrieveExpense = function() {
			$http.get('http://localhost:8080/ExpTracker/retriveExp/')
			.then(function(response) {
				var result = "";
				var expArr = JSON.parse(response.data.expList);
				for(var i=0; i < expArr.length; i++) {
					result = result  + expArr[i].name+" "+expArr[i].amount+"\n";
				}	
				alert(result);
			}, function() {
				alert("error while retriveing data in server!!");
			});
		};
		
		$scope.filterAmount = function($event) {
			$scope.amountError = "";
			if($event.keyCode <48 || $event.keyCode >57) {
				$scope.amountError = "Only numbers are allowed";	
			}
		}; 	
	});
</script>
<style>
	.title, .amount, .name, .amountError {
		text-align: center;
		color: #ffffff;	
	}
	.mainView {
		background-color: #000000;
	}
	.nameInput {
		width: 300px;
		text-align: center;
	}
	.amountInput {
		width: 300px;
		text-align: center;
	}
	::placeholder {
		color: #000000;
	}
	.formComponents {
		text-align: center;
	}
	.Button {
		background-color: #ffffff;
		color: #000000;
	}
</style>
<body class="mainView">

<div data-ng-app="expApp" data-ng-controller="expController">
  <h1 class="title">Expense Tracker</h1>
  <br><br><br>
  <form name="expForm">
	  <h2 class="name">Name</h2>
	  <br><br><br>
	  
	  <div class="formComponents">
	  	<input type="text" name="nameInput" class="nameInput" placeholder="Enter the name" required data-ng-model="name">
	  </div>
	  <br>
	  <br><br><br>
	  
	  <h2 class="amount">Amount</h2>
	  <br><br><br>
	  
	  <div class="formComponents">
	  	<input type="text" name="amountInput" class="amountInput" placeholder="Enter the amount" required data-ng-keypress="filterAmount($event)" data-ng-model="amount">
	  </div>
	  <br>
	  <h2 data-ng-bind="amountError" class="amountError"></h2>
	  <br><br><br>
	  <div class="formComponents">
	  	<input type="button" value="Add" class="Button" data-ng-click="addExpense()"/>
	  	<br>
	  	<br><br>
	  	<input type="button" value="Retrieve" class="Button" data-ng-click="retrieveExpense()"/>
	  </div>
	  
  </form>
</div>

</body>
</html>